In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
pd.__version__

'2.3.0'

In [3]:
CONN_STR = 'postgresql://root:root@localhost:5432/ny_taxi'
FILE_NAME = "taxi_zone_lookup.csv"
TABLE_NAME = "taxi_zone"

In [4]:
# parquet file retain schema format
df = pd.read_csv(FILE_NAME)

In [5]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
engine = create_engine(CONN_STR)

In [7]:
print(pd.io.sql.get_schema(df, name=TABLE_NAME, con = engine))

CREATE TABLE taxi_zone (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [8]:
# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

in video file is csv

In [9]:
# df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

# df = next(df_iter)

# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

df.head(0).to_sql(name=TABLE_NAME, con=engine, if_exists='replace')
print("Schema inserted successfully.")

df.to_sql(name=TABLE_NAME, con=engine, if_exists='append')
print("Data inserted successfully.")

# while True:
#     df = next(df_iter)
    
#     df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
#     df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
#     df.to_sql(name=TABLE_NAME, con=engine, if_exists='append')

#     print('inserted another chunk...')

Schema inserted successfully.
Data inserted successfully.

parquet files are optimised. method below is only used for very large parquet files (10M rows, 500mb above)

In [ ]:
# import dask.dataframe as dd
# from time import time

In [ ]:
# ddf = dd.read_parquet(FILE_NAME)

In [ ]:
# ddf.head(0).to_sql(name=TABLE_NAME, con=engine, if_exists='replace', index=False)

# print("Schema inserted successfully.")

Schema inserted successfully.

Inserted chunk of 1369769 rows in 143.54s.

In [ ]:
# engine.dispose()

In [ ]:
# def load_chunk_data(df_partition, con_str, table_name):
#     local_engine = None
#     try:
#         local_engine = create_engine(con_str)

#         # df_partition['tpep_pickup_datetime'] = pd.to_datetime(df_partition['tpep_pickup_datetime'], errors='coerce')
#         # df_partition['tpep_dropoff_datetime'] = pd.to_datetime(df_partition['tpep_dropoff_datetime'], errors='coerce')

#         start_time = time()
#         df_partition.to_sql(name=table_name, con=local_engine, if_exists='append', index=False)
#         end_time = time()
#         print(f"Inserted chunk of {len(df_partition)} rows in {end_time - start_time:.2f}s.")
#     except Exception as e:
#         print(f"Error inserting chunk: {e}")
#     finally:
#         local_engine.dispose()

In [ ]:
# ddf.map_partitions(
#     load_chunk_data,
#     con_str=CONN_STR,
#     table_name=TABLE_NAME
# ).compute()

# print("Bulk data insertion completed.")

Inserted chunk of 2 rows in 0.05s.
Bulk data insertion completed.