In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
pd.__version__

'2.3.0'

In [ ]:
CONN_STR = 'postgresql://root:root@localhost:5432/ny_taxi'
FILE_NAME = "yellow_tripdata_2021-01.parquet"
TABLE_NAME = "yellow_taxi_data"

In [4]:
# parquet file retain schema format
df = pd.read_parquet(FILE_NAME)

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [6]:
engine = create_engine(CONN_STR)

In [7]:
print(pd.io.sql.get_schema(df, name=TABLE_NAME, con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [ ]:
# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

in video file is csv

In [9]:
# df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

# df = next(df_iter)

# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

# df.head(0).to_sql(name=TABLE_NAME, con=engine, if_exists='replace')

# df.to_sql(name=TABLE_NAME, con=engine, if_exists='append')

# while True:
#     df = next(df_iter)
    
#     df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
#     df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
#     df.to_sql(name=TABLE_NAME, con=engine, if_exists='append')

#     print('inserted another chunk...')

parquet files are optimised. method below is only used for very large parquet files (10M rows, 500mb above)

In [10]:
import dask.dataframe as dd
from time import time

In [11]:
ddf = dd.read_parquet(FILE_NAME)

In [12]:
ddf.head(0).to_sql(name=TABLE_NAME, con=engine, if_exists='replace', index=False)

print("Schema inserted successfully.")

Schema inserted successfully.

Inserted chunk of 1369769 rows in 143.54s.

In [13]:
engine.dispose()

In [14]:
def load_chunk_data(df_partition, con_str, table_name):
    local_engine = None
    try:
        local_engine = create_engine(con_str)

        # df_partition['tpep_pickup_datetime'] = pd.to_datetime(df_partition['tpep_pickup_datetime'], errors='coerce')
        # df_partition['tpep_dropoff_datetime'] = pd.to_datetime(df_partition['tpep_dropoff_datetime'], errors='coerce')

        start_time = time()
        df_partition.to_sql(name=table_name, con=local_engine, if_exists='append', index=False)
        end_time = time()
        print(f"Inserted chunk of {len(df_partition)} rows in {end_time - start_time:.2f}s.")
    except Exception as e:
        print(f"Error inserting chunk: {e}")
    finally:
        local_engine.dispose()

In [15]:
ddf.map_partitions(
    load_chunk_data,
    con_str=CONN_STR,
    table_name=TABLE_NAME
).compute()

print("Bulk data insertion completed.")

Inserted chunk of 2 rows in 0.05s.
Bulk data insertion completed.